
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Action("PartialHead", "Default")
</head>
<body>
    @Html.Action("PartialHeader", "Default")
    @Html.Action("PartialScripts", "Default")
    @Html.Action("PartialAboutBanner")
    @Html.Action("PartialInfo")
    @Html.Action("PartialTeams")



    @Html.Action("PartialFooter", "Default")
</body>
</html>
