@model Casgem_CodeFirstProject.DAL.Entities.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Rezervasyon Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duratio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duratio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.BookingId }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
