<section class="w3l-footer-29-main">
    <div class="footer-29 py-5 ">
        <div class="container">
            <div class="grid-col-4 footer-top-29">
                <div class="footer-list-29 footer-1">
                    <h2 class="footer-title-29">Contact Us</h2>
                    @foreach (var item in ViewBag.Company)
                    {


                        <ul>
                            <li>
                                <p>
                                    <span class="fa fa-map-marker"></span>@item.Address
                                </p>
                            </li>
                            <li><a href="#"><span class="fa fa-phone"></span>@item.Phone</a></li>
                            <li><a href="#" class="mail"><span class="fa fa-envelope-open-o"></span> @item.Mail</a></li>
                        </ul>
                    }
                    <div class="main-social-footer-29">
                        @foreach (var item in ViewBag.Icon)
                        {
                            <a href="@item.Url" class="facebook"><span class="@item.Icon"></span></a>
                        }


                    </div>
                </div>
                <div class="footer-list-29 footer-2">
                    <ul>
                        
                    </ul>
                </div>

                <div class="footer-list-29 footer-3">
                    <div class="properties">
                        <h6 class="footer-title-29">Son Turlarımız</h6>
                        <div class="images-col">
                            @foreach (var item in ViewBag.Spe)
                            {
                                <a href="#"><img src="@item.ImageUrl" class="img-responsive" alt="@item.Title"></a>
                            }

                            <a href="#"><img src="~/Templates/trip/assets/images/blog2.jpg" class="img-responsive" alt=""></a>

                        </div>
                    </div>
                </div>
                <div class="footer-list-29 footer-4">
                    <ul>
                        
                    </ul>
                </div>
            </div>
            <div class=" bottom-copies text-center">
                <p class="copy-footer-29">© 2020 Go Trip. All rights reserved | Designed by <a href="//w3layouts.com">W3layouts</a></p>
            </div>
        </div>
    </div>
</section>
